name = "ml-api"
main = "src/index.ts"
compatibility_date = "2026-02-09"
workers_dev = true

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1

[vars]
APPLE_BUNDLE_ID = "com.memorylocks.mlmobileapp"

[[d1_databases]]
binding = "DB"
database_name = "ML-Database"
database_id = "3afe1cf6-4d2c-4461-9b41-1c8e232e8361"
migrations_dir = "drizzle/migrations"


[images]
binding = "IMAGES"

# Cron triggers for background jobs
[triggers]
crons = [
  "0 */12 * * *", # Every 12 hours: process Cloudflare cleanup jobs
  "0 3 * * *",    # Every day at 3 AM UTC: process Idempotency Keys cleanup
]

# Workers Assets for serving web album static files
[assets]
directory = "./web-album"
binding = "ASSETS"
# Exclude index.html from automatic serving.
html_handling = "none"

# Routes
[[routes]]
pattern = "api.memorylocks.com/*"
zone_name = "memorylocks.com"

[[routes]]
pattern = "album.memorylocks.com/*"
zone_name = "memorylocks.com"
